.item, .payment{
    margin-top: 20px;
}

.item{
    border-radius: 10px;
}

.gym-member{
    background-image: url("../../power-x-gym/Image & Icon/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg");
    background-size: cover;
    padding: 300px;
    color:white;
    text-align: center;
}

.gym-member h1{
    font-weight: 700;
    font-style: normal;
}

.button{
    padding-left: 5;
}