.foot{
    background-color: black;
    color: white;
    height: 100%;
    padding-bottom: 100px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
   
}
.footColumn{
    flex:1
}
.footColumn ul li{
    list-style: none;
}