img {
    width: 100%;
    height: 100%;
}

.btn-war{
background-color: #fcd742;
}

/* h2{
    margin-top: 20px;
    margin-bottom: 10px;
} */
.trainLink{
    /* position: fixed;
    bottom: 30px; */
}

.yoga, .cardio{
    background-size: contain;
    margin-right: 5%;
    color: white;
    padding-top: 250px;
    padding-bottom: 100px;
    margin-left: 20px;
    margin-bottom: 50px;
} 
.yoga a, .cardio1 a{
    border:1px  thistle;
    background-color: black;
    padding:10px;
    color: black;
}
