/* .yoga{
    background-image: url("../../power-x-gym/Image & Icon/bruce-mars-gJtDg6WfMlQ-unsplash.png");

}

.cardio{
    background-image: url("../../power-x-gym/Image & Icon/arthur-edelman-qfjuh4OLdxw-unsplash.jpg");
} */


.yoga, .cardio{
    background-size: cover;
    margin-right: 5%;
    color: white;
    padding-top: 250px;
    padding-bottom: 100px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.yoga a, .cardio a{
    border:1px  thistle;
    background-color: black;
    padding:10px;
    color: black;
}

.program{
    color: rgb(180, 180, 61)
}

