.schedule{
    margin-bottom: 100px;
}

.card{
    margin-bottom: 20px;
}

.program-controller{
    background-image: url("../../power-x-gym/Image & Icon/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg");
    background-size: cover;
    padding: 300px;
    color:white;
    text-align: center;
}

.program-controller h1{
    font-weight: 700;
    font-style: normal;
}

#check img{
    height: 10px;
}