.navbar h3{
    padding-left: 30px;
    padding-top: 5px;
    color: white;
}

.navbar .navbar-nav{
    padding-right: 50px;
    
}

.navbar a{
    margin-right: 20px;
    color: white;
}

.X{
    color: yellow;
}
@media (min-width:768px){
.navbar-navflex-direction: column;
}