.program-controller {
	background-image: url("../../power-x-gym/Image & Icon/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg");
	background-size: cover;
	padding: 300px;
	color: white;
	text-align: center;
	h1 {
		font-weight: 700;
		font-style: normal;
	}
}
.programs {
	margin-top: 100px;
}
.yoga {
	background-image: url("../../power-x-gym/Image & Icon/bruce-mars-gJtDg6WfMlQ-unsplash.png");
}
.cardio {
	background-image: url("../../power-x-gym/Image & Icon/arthur-edelman-qfjuh4OLdxw-unsplash.jpg");
}
.psycho {
	background-image: url("../../power-x-gym/Image & Icon/victor-freitas-WvDYdXDzkhs-unsplash.jpg");
}
.self {
	background-image: url("../../power-x-gym/Image & Icon/baylee-gramling-5m4Z14SDL80-unsplash.jpg");
}
.advanced {
	background-image: url("../../power-x-gym/Image & Icon/humphrey-muleba-LOA2mTj1vhc-unsplash.jpg");
}
.strength {
	background-image: url("../../power-x-gym/Image & Icon/alora-griffiths-TuzrzArccvc-unsplash.jpg");
}
.common {
	background-size: cover;
	margin-right: 5%;
	color: white;
	padding-top: 250px;
	padding-bottom: 100px;
	margin-left: 20px;
	margin-bottom: 50px;
	a {
		border: 1px thistle;
		background-color: yellow;
		padding: 10px;
		margin-left: 60px;
		margin-top: 75px;
		color: black;
		position: absolute;
	}
}
