.foot {
	background-color: rgb(11, 7, 27);
	color: white;
	padding: 20px;
	display: flex;
	justify-content: center;
	height: 30vh;
}
.footColumn {
	flex: 1;
	text-align: justify;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}
.socialIcon {
	width: 80%;
	display: flex;
	justify-content: space-evenly;
}
@media (max-width:768px) {
	.foot {
		flex-direction: column;
		align-items: center;
	}
	.footColumn {
		margin-bottom: 2rem;
	}
}
