section {
	margin-bottom: 100px;
}
.intro {
	background-image: url("../../power-x-gym/Image & Icon/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg");
	height: 100%;
	width: 100%;
	background-size: cover;
	padding: 200px 0px;
	color: white;
	a {
		padding: 5px 70p;
		font-size: x-large;
		font-weight: 700;
		background-color: rgb(245, 207, 81);
		color: black;
	}
}
.progression {
	background-image: url("../../power-x-gym/Image & Icon/hipcravo-5UbIqV58CW8-unsplash.jpg");
	background-size: cover;
	margin-right: 5%;
	color: white;
	text-align: center;
	padding-top: 250px;
	margin-left: 20px;
}
.workout {
	background-image: url("../../power-x-gym/Image & Icon/daniel-apodaca-WdoQio6HPVA-unsplash.jpg");
	background-size: cover;
	margin-right: 5%;
	color: white;
	text-align: center;
	padding-top: 250px;
	margin-left: 20px;
}
.nutrition {
	background-image: url("../../power-x-gym/Image & Icon/penguinuhh-8VI6WwEEEHw-unsplash.jpg");
	background-size: cover;
	margin-right: 5%;
	color: white;
	text-align: center;
	padding-top: 250px;
	margin-left: 20px;
}
