img {
	width: 100%;
	height: 100%;
}
.trainingHead {
	margin-top: 20px;
	margin-bottom: 10px;
	position: relative;
}
.trainLink {
	background: yellow;
	margin-left: 40px;
	padding: 15px;
	color: #000;
}
