.item {
	margin-top: 20px;
	border-radius: 10px;
}
.payment {
	margin-top: 20px;
}
.gym-member {
	background-image: url("../../power-x-gym/Image & Icon/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg");
	background-size: cover;
	padding: 300px;
	color: white;
	text-align: center;
	h1 {
		font-weight: 700;
		font-style: normal;
	}
}
#bn {
	padding: 5px 16px;
	margin-left: 360px;
}
#kl {
	height: 80px;
	width: 70px;
}
